#
*gradle*
.meghanada
*.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.class
.mypy_cache/
.pytest_cache/

# Executables
solution

# Distribution / packaging
.Python
env/
build/
.eggs/
lib/
lib64/
parts/
sdist/
var/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# pyenv
.python-version

# Rope project settings
.ropeproject

# Temporary files
tmp/
